
<label for="">Event Name:</label>
<% if (event !== "") { %>
  <input type="text" name="name" 
  placeholder="<%= event.name %>">
  <label for="">Description:</label>
  <textarea name="description" placeholder="<%=event.description%>"></textarea>
<% } else { %>
  <input type="text" name="name" 
  value="" required>
  <label for="">Description:</label>
  <textarea name="description" value=""></textarea>
<% } %>
<!-- <label for="">Date:</label>
<input type="datetime-local" name="date"> -->

<label for="">Priority:</label>
<select name="priority">
  <option value="HIGH">HIGH</option>
  <option value="MEDIUM">MEDIUM</option>
  <option value="LOW">LOW</option>
</select>

<div class="special-div-input flex-col">
  <p>Special Event?</p>
  <div class="flex-row">
    <div class="flex-col">
      <input type="radio" id="special-event" name="specialEvent" value="true" />
      <label for="special-event">Yes</label>
    </div>
    <div class="flex-col">
      <input type="radio" id="not-special" name="specialEvent" value="false" />
      <label for="not-special">No</label>
    </div>
  </div>
</div>

<p>Time</p>
<div>
  <input type="time" name="time">
</div>

<p>Date</p>
<div>
  <input type="date" name="date" id="" value="<%= currentDate %>">
</div>