<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>PlanIt</title>
  <!--calendar script-->
    <% if (user) { %>
      <script src="/scripts/datedreamer.js"></script>
      <script>
        window.onload = () => {
            new datedreamer.calendar({
              element: "#my-calendar",
              theme: "unstyled",
              darkMode: false,
              format: "MM/DD/YYYY",
              styles: `
              .datedreamer__calendar_day {
                width: 10vmin;
              }
              .datedreamer__calendar_days-header * {
                background-color: rgba(20, 29, 29, 0.2);
                border-radius: 25px;
                color: white;
                border: 1px solid white;
              }
              .datedreamer__calendar_title {
                color: white;
                font-size: 4vmin;
              }
              label {
                color: white;
              }
                div.datedreamer__calendar {
                  background-color: rgba(30, 36, 47, 0.5);
                  border-radius: 22px;
                  width: 77vmin;
                  max-width: none;
                  font-family: 'Inter', sans-serif;
                }
                .datedreamer__calendar_day button {
                  color: white;
                  border: none;
                  background-color: rgba(28, 29, 29, 0);
                  padding: 4vmin 0;
                  font-size: 4vmin;
                  font-weight: 800;            
                }
                .datedreamer__calendar_day button:hover {
                  background-color: rgb(236, 255, 68, 0.7);
                  border-radius: 10px;
                  color: black;
                }
                .datedreamer__calendar_day.active button {
                  border-radius: 50px;
                  background-color: rgba(28, 29, 29, 0);
                  color: #E1FD35;
                }
                button:disabled {
                  color: gray;
                }
                .datedreamer__calendar_inputs {
                  width: 30vmin;
                }
                input {
                  padding: 1vmin;
                  background-color: rgba(28, 29, 29, 0.9);
                  color: white;
                  border: none;
                  border-radius: 10px;
                }
                button {
                  border-radius: 10px;
                  border: none;
                  background-color: #E1FD35;
                  color: black;
                }
                button:hover {
                  cursor: pointer;
                  background-color: rgb(57, 51, 227);
                  color: white;
                }
                `,onChange: (e) => {
          // Get Date object from event
          console.log(e.detail);
          let month = e.detail.split('/')[0];
          let day = e.detail.split('/')[1];
          let year = e.detail.split('/')[2];
          const date = new Date(year, month-1, day);          
      }})}
    </script>
    <% } %>
  <!--end of calendar script-->
</head>
<body>
  <div>
    <% if (user) { %>
      <nav class="flex-row top-nav">
        <div class="flex-row">
          <img src="https://cdn-icons-png.flaticon.com/512/447/447144.png" alt="planit avatar" class="link-icons">
          <h2>PLANIT</h2>
        </div>
        <div>
          <!--Filter through tasks-->
          <form class="form-filter-search" action="">
            <label>Search</label>
            <input type="text">
            <input type="submit" class="btn-search">
          </form>
        </div>
      </nav>
    <% } %>
  </div>