<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Change Later</title>
</head>
<body>
  <nav>
    <div class="login-div">
      <% if (user) { %>
        <a href="/logout" class="logInOut">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="logInOut">LOG IN<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </div>
  </nav>