<div class="flex-row">
  <div class="sidebar glass-filter flex-col">
    <a href="/logout" id="btn-logout">
      <img src="https://cdn-icons-png.flaticon.com/512/2550/2550414.png" alt="" class="icon-img">
    </a>
    <div class="flex-row">
      <img src="<%= user.avatar %>" alt="" class="round-icon">
    </div>
    <a
    class="round-icon flex-row <%- title === 'Dashboard' ? 'dashboard-icon active' : 'dashboard-icon not-active' %>" href="/dashboard">
      <img src="https://cdn-icons-png.flaticon.com/512/9311/9311178.png" alt="" class="icon-img">
    </a>
    <a
    class="round-icon flex-row <%- title === 'Settings' ? 'settings-icon active' : 'settings-icon not-active' %>" href="/settings/show">
      <img src="https://cdn-icons-png.flaticon.com/512/484/484613.png" alt="" class="icon-img">
    </a>
  </div>
  <%- include('../partials/chatgpt') %>
</div>