<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
    </div>
  <div class="flex-col">
    <div class="flex-col dashboard-date-input-div">
      <h4>Input Date</h4>
      <form 
        action="/dashboard/show?date=input"
        method="GET"
        class="flex-col"
        >
        <input type="date" name="date" class="dashboard-date-input" id="date-value">
        <input type="submit" value="Search" id="submit-btn">
        
      </form>     
    </div>
    <%- include('../partials/calendar') %>
  </div>
</div>