<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
  </div>

  <!--calendar view might keep getting rendered?-->
  <div id="calendar"></div>
</div>