<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
  </div>
  <div class="new-event-form-wrap form-wrap">
    <!--create POST request to create DATE data and FIRST event data-->
    <form class="flex-col original-form" action="/day/new?date=<%=date%>" method="POST">
      <div class="form-header new-event-header"><h2>Create New Event</h2></div>
      <%- include('../partials/eventForm')  %>
      <input type="submit" value="Add">
    </form>

  </div>
</div>