<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
  </div>
  <div>
    <!--create POST request to create DATE data and FIRST event data-->
    <form class="flex-col" action="/day/new?date=<%=date%>" method="POST">
      <%- include('../partials/eventForm')  %>
    </form>

  </div>
</div>