<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
  </div>
  <div>
    <!--create POST request to create DATE data and first event data-->
    <form class="flex-col" action="/event/date/new?date=<%=date%>" method="POST">
      <label for="">Event Name:</label>
      <input type="text" name="name">

      <label for="">Description:</label>
      <textarea name="description"></textarea>

      <!-- <label for="">Date:</label>
      <input type="datetime-local" name="date"> -->

      <label for="">Priority:</label>
      <select name="priority">
        <option value="TOP 3">TOP 3</option>
        <option value="HIGH">HIGH</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="LOW">LOW</option>
      </select>

      <p>Special Event?</p>
      <div class="flex-row">
        <div class="flex-col">
          <input type="radio" id="special-event" name="specialEvent" value="true" />
          <label for="special-event">Yes</label>
        </div>
        <div class="flex-col">
          <input type="radio" id="not-special" name="specialEvent" value="false" />
          <label for="not-special">No</label>
        </div>
      </div>
      <input type="submit" value="Add Date Event">
    </form>

  </div>
</div>

<!-- User.findOne(req.user, function(err, user) {
  DateModel.findOne({date: dateObj, user: user._id}, function(err, date) {
    
    
      res.render('dashboard/show', {
        user: req.user,
        datePicked: req.query.date,
        title: 'Dashboard',
        date: date,
      })
    })})
  }       -->