<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
  </div>
  <!--calendar view might keep getting rendered?-->
  <%- include('../partials/calendar') %>
  <div class="task-day-view flex-c">
    <h3><%= date %></h3>
    <!--for each task-->
  </div>
</div>