<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
  </div>
  <!--calendar view might keep getting rendered?-->
  <%- include('../partials/calendar') %>
  <div class="task-day-view flex-col">
    <h3><%= date %></h3>
    <div class=" flex-col">
      <h4>Add Event</h4>
      <a class="add-button" href="/dashboard/new">+</a>
    </div>
  </div>
</div>