body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* NAVIGATION */

nav {
  background-color: black;
}

.login-div {
  background-color: rgb(40, 39, 37);
  max-width: fit-content;
}

.logInOut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  text-decoration: none;
  color: white;
  padding: 3vmin;
}
.logInOut:hover {
  background-color: rgb(82, 84, 86);
}

.logInOut img {
  height: 30px;
  margin-left: 7px;
}

/* MAIN HEADER */
main {
  margin: 3vmin;
}