@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to left, rgb(62, 56, 71) , rgb(25, 24, 27)); 
}

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 50vmin);
}
.grid-2col * {
  text-align: center;
}

#calendar {
  border: 0.5px solid rgb(47, 44, 44);
  border-radius: 22px;
  font-family: 'Inter', sans-serif;
  margin: 12vmin;
}

div#calendar.vanilla-calendar.vanilla-calendar_default {
  background: rgba(17, 17, 17, 0.915);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  /* border: 1px solid rgba(246, 235, 252, 0.764); */
  width: 60vmin;
  height: 80vmin;
  max-width: none;
  display: flex;
  flex-direction: column;
}

.vanilla-calendar-week .vanilla-calendar-week__day {
  color:rgb(228, 254, 113);
  font-size: 19px;
  background-color: rgba(19, 19, 20, 0.844);
  padding: 1vmin 3vmin;
  border-radius: 10px;
  margin: 1px 2px;
  font-family: 'Raleway';
  font-weight: 500;
  letter-spacing: 1px;
}

div#calendar.vanilla-calendar.vanilla-calendar_default 
.vanilla-calendar-month, 
div#calendar.vanilla-calendar.vanilla-calendar_default 
.vanilla-calendar-year {
  color: white;
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 1vmin;
  font-family: 'Raleway';
  margin: 3vmin 0;
}
.vanilla-calendar-day__btn * {
  color: white;
}

.vanilla-calendar-days_selecting 
.vanilla-calendar-day__btn {
  padding: 5vmin;
  border-radius: 15px;
  font-size: 4vmin;
  margin: 1vmin;
  font-weight: 800;
  background-color: rgba(240, 248, 255, 0);
  color: white;
}
.vanilla-calendar-days_selecting 
.vanilla-calendar-day__btn:hover {
  background-color: #f8f3b0e0;
  color: black;
}


/* UTILITIES */
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-nav {
  align-content: space-between;
}

.emphasize-text {
  text-decoration: underline;
}

.link-icons {
  width: 8vmin;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.round-icon {
  border-radius: 50px;
  width: 10vmin;
  height: 10vmin;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-content: center;
}

.icon-img {
  width: 5vmin;
}

.active {
  opacity: 1;
}
.not-active {
  opacity: 0.3;
}
.dashboard-icon {
  background-color: rgb(190, 188, 255);
}
.finance-icon {
  background-color: rgb(187, 255, 151);
}

.planit-icon {
  width: 12vmin;
  position: relative;
  top: 8vmin;
  left: -32vmin;
}

.google-btn {
  background-color: rgba(0, 0, 0, 0.844);
  border-radius: 80px;
  position: relative;
  padding: 2vmin;
  left: 42px;
}

.btn-signIn {
  background-color: rgba(0, 0, 0, 0.822);
  padding: 2vmin;
  border-radius: 80px;
  width: 150px;
  color: white;
  justify-content: center;
  text-decoration: none;
  font-size: 3vmin;
  font-weight: 700;
  letter-spacing: 1px;
}
.btn-signIn:hover {
  background-color: rgb(86, 84, 233);
}

#btn-logout {
  background-color: #F3665D;
  padding: 7px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 700;
  margin: 3vmin 2vmin;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#btn-logout:hover {
  background-color: #9b989803;
  color: #F3665D;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

/* NAVIGATION */

nav {
  background-color: rgba(0, 0, 0, 0);
  margin: 2vmin 0 2vmin 2vmin;
  justify-content: space-between;
  max-width: 1219px;
}

nav h2 {
  display: inline-block;
  letter-spacing: 5px;
  color: rgb(252, 238, 238);
}

.form-filter-search {
  margin-right: 8vmin;
}

/* SIDEBAR */
.sidebar {
  border-radius: 40px;
  margin: 2vmin 0 0 3vmin;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 4vmin 0 12vmin 0;
  background-color: rgba(248, 240, 255, 0.397);
}

.sidebar a.round-icon,
.sidebar div {
  margin: 1vmin;
}

.sidebar a {
  font-size: 15px;
  color: black;
}

.sidebar a:hover {
  opacity: 0.7;
}

/* VISITOR */
#visitor-page {
  background: rgba(255, 255, 255, 0.286);
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.69);
  margin: 18vmin 2vmin;
  padding: 2vmin;
  width: 80vmin;
}

.glass-filter {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
}

.visitor-front-div {
  background: #faf4ff90;
  padding: 2vmin 5vmin;
  border-radius: 130px 30px 30px 30px;
  letter-spacing: 1px;
  height: 50vmin;
  width: 70vmin;
}
.visitor-front-div h1 {
  font-size: 12vmin;
  letter-spacing: 10px;
  color: rgb(62, 57, 57);
  margin-top: 2vmin;
}
.visitor-front-div p {
  margin: 3px;
  font-size: 12px;
  font-weight: 700;
}
.visitor-front-div h4 {
  font-size: 3vmin;
  color: rgb(63, 68, 98);
  font-weight: 400;
  margin-bottom: 4vmin;
}

.visitor-front-div div {
  margin-top: 2vmin;
}

/* DASHBOARD */

.task-day-view {
  margin: 5vmin 5vmin;
  background-color: rgba(28, 28, 30, 0.524);
  height: 300px;
  color: white;
}
.task-day-view div * {
  margin: 10px;
}

.add-btn {
  text-decoration: none;
  color: black;
  background-color: rgb(92, 65, 246);
  margin-right: 4vmin;
  border-radius: 20px;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  width: 80px;
  height: 70px;
}

.day-add-btns {
  margin: 3vmin;
}

.add-btn:hover {
  background-color: #5667FF;
  color: white;
}

.button {
  margin: 5vmin;
}

.button h4 {
  margin-bottom: 2vmin;
  font-weight: 500;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 2vmin;
  letter-spacing: 1px;
}

.add-tag-btn {
  background-color: #a18f00;
  color: black;
}
.add-tag-btn:hover {
  background-color: rgb(190, 186, 46);
}

form {
  margin-left: 14vmin;
  color: white;
}

/* DAY VIEW */
.date-div {
  background-color:#5667FF;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 2vmin 0;
  width: 100%;
  text-align: center;
  font-family: 'Raleway';
  letter-spacing: 2px;
}

.main-day-view {
  margin: 8vmin;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 120vmin;
}

.main-day-view a {
  margin: 1vmin;
}

.priority-view {
  background-image: linear-gradient(to right, rgb(80, 78, 114) , rgb(38, 37, 73)); 
  border-radius: 10px;
}

.day-priority-view {
  background-color: #000000c6;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 8vmin 0;
}

.priority-background {
  background-color: rgba(248, 238, 226, 0.911);
  margin: 2vmin;
  border-radius: 10px;
  color: black;
  padding: 1vmin;
}

/* SPECIAL */
.day-special-view {
  width: 100%;
  margin: 3vmin 0;
}

.special-view {
  background-color: #141414;
  padding: 4vmin;
  border-radius: 30px;
  box-shadow: rgba(110, 86, 130, 0.197) 0px 4px 12px;
  gap: 2vmin;
}

.special-view * {
  font-family: 'Raleway';
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2.4vmin;
}

.special-view a {
  color: rgb(232, 255, 116);
  text-decoration: none;
  font-size: 1.7vmin;
}

.special-view a:hover {
  text-decoration: underline;
}

.day-events-view {
  margin-top: 3vmin;
  background-color: #141414;
  align-items: center;
  padding: 5vmin;
  border-radius: 9px;
  border: 0.7px solid rgba(220, 207, 238, 0.7);
}

.day-events-view * {
  font-family: 'Raleway';
}

.title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: flex-start;
  margin-bottom: 3vmin;
}

.event-view {
  background-color: rgba(255, 251, 245, 0.623);
  align-items: flex-start;
  padding: 2vmin;
  margin: 2vmin;
  color: black;
}

.event-time {
  align-items: center;
  background-color: rgba(250, 235, 215, 0);
}

.event-time div {
  background-color: rgba(70, 68, 68, 0.749);
  padding: 1vmin 3vmin;
  border-radius: 4px;
  color: white;
  border: 1px solid rgba(164, 161, 180, 0);
}

.event-view .flex-row {
  justify-content: space-between;
  gap: 20px;
}

.day-events-view-list {
  margin-top: 2vmin;
}

